body,div,nav,ul,li,header,img,section,p {
	margin:0;
	padding:0;
}
img {
	border:none;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	*zoom:1;
}
body {
	background:url("img/bg.jpg") no-repeat;
	background-size: cover;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

@keyframes snow {
	0% {
		background-position: 0 0,0 0;
	}
	100% {
		background-position: 500px 500px,1000px 500px;
	}
}
#snowMask {
	position: fixed;
	left:0;
	top:0;
	right:0;
	bottom: 0;
	background: url("img/snow1.png"),url("img/snow2.png");
	animation: 10s snow linear infinite;
	pointer-events: none;
}
.wrap {
	width:1000px;
	margin:0 auto;
	margin-top: 10px;
}
.navbar {
	border:1px solid #03a9f7;
	border-bottom: none;
}
.navbar li {
	float: left;
}
.navbar li a {
	display: block;
	width:166px;
	text-align: center;
	color:#fff;
	font-size: 20px;
	height:40px;
	line-height: 40px;
	border-right:1px solid #03a9f7;
	border-bottom:1px solid #03a9f7;
	background-color: #91d6f7;
}
.navbar li a.last {
	width:163px;
	border-right: none;
}

.navbar li a:hover,.navbar li a.active {
	background-color:#e8f7fe;
	border-top:1px solid #03a9f7;
	border-bottom: none;
	color:#03a9f7;
}
.content {
	width:998px;
	height:500px;
	border:1px solid #03a9f7;
	border-top: none;
	position: relative;
}
.content .tab_item {
	width:998px;
	height: 500px;
	position: absolute;
	top:0;
	left:0;
	display: none;
}
.item_menu {
	padding:30px 50px;
	width:898px;
	height: 440px;
}
.item_menu p {
	float: left;
	width:449px;
	margin-bottom: 10px;
}
.item_menu p a {
	display: block;
	width:300px;
	height:61px;
	line-height: 61px;
	text-align: center;
	color:#fff;
	font-size: 20px;
	font-family: "\8FF7\4F60\7B80\5A03\5A03\7BC6";
	background: url("img/btn.png") no-repeat;
}
.item_menu p a:hover {
	background: url("img/active_btn.png") no-repeat;
}
